*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#first{
    padding: 145px;
}
button{
    background-color: red;
    margin-left: 400px;
    padding: 20px;
    border-radius: 10px;
}
h1{
    color: #D79914;
}
p{
    color: white;
    font-family: risque;
    font-size: x-large;
}
h2{
    color: #D79914;
    font-family: Quattrocento;
    font-size: 50px;
    margin-top: 70px;
}