*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#pizzajoint{
    padding-top: 60px;
}
h1{
    color: #D79914;
    font-size: 80px;
}
#paragraph-1{
    color: white;
    font-family: risque;
    font-size: 30px;
}
h2{
    color: #D79914;
    font-family: Quattrocento;
    /* margin-top: 50px; */
    font-size: 90px;
}
#row{
    margin-top: 30px;
}
button{
    background-color: white;
    padding: 15px;
    color: black;
    margin: auto;
    display: flex;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
}
.button{
    padding-bottom: 20px;
}
#footer{
    color: white;
    background-color: red;
}
#icon{
    color: #ffffff;
}