*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
#pizzajoint{
    padding-top: 20px;
}
h1{
    color: #D79914;
    font-size: 80px;
}
#paragraph-1{
    color: white;
    font-family: risque;
    font-size: 30px;
}
h2{
    color: #D79914;
    font-family: Quattrocento;
    font-size: 90px;
}
#row{
    margin-top: 30px;
}
button{
    background-color: white;
    padding: 15px;
    color: black;
    margin: auto;
    display: flex;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
.button{
    padding-bottom: 20px;
}
#footer{
    color: white;
    background-color: red;
    margin-top: 15px;
}
#icon{
    color: #ffffff;
}
.two-buttons{
    margin-top: 100px;
}
.two-buttons p{
    font-size: 30px;
    color: #D79914;
}
#all{
    /* padding-top: 5px; */
}
.my-details input{
    display: flex;
    padding: 8px;
    margin: 10px;
    margin-left: 130px;
}
h4{
    padding: 10px;
    color: #000000;
}
#icon-2{
    background-color: white;
    margin-top: 50px;
    border: #D79914 solid 2px;
    border-radius: 5px;
}
select{
    padding: 10px 100px;
    background: transparent;
    border-radius: 5px;

}
.inputs{
    background-color: white;
    padding-bottom: 5px;
    margin-top: 10px;
}
#total{
    background-color: red;
    color: #ffffff;
    margin-top: 50px;
    padding: 10px 60px;
}
.menu{
    font-size: 30px;
    margin: 20px;
}
#row-1 p{
    font-size: 25px;
}
#row-2 p{
    font-size: 25px;
}
#row-2 img{
    border-radius: 5px;
}
#row-1 img{
    border-radius: 5px;
}
